@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 400;
    src: url("./Satoshi-Regular.otf") format("opentype");
}

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    src: url("./Satoshi-Bold.otf") format("opentype");
}

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    src: url("./Satoshi-Medium.otf") format("opentype");
}

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 900;
    src: url("./Satoshi-Black.otf") format("opentype");
}
